* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #8D38C9;

    & a {
        color: white;
    }

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .nav_con {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            & a {
                text-decoration: none;
                font-weight: bold;
            }
        }

        & ul {
            display: flex;
            list-style: none;
            
            & li {
                margin: 0 35px;

                & a {
                    text-decoration: none;
                }
            }
        }

        & .button {
            width: 80px;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            }

            a {
                text-decoration: none;
                color: #8D38C9;
                font-weight: bold;
            }
        }

    }

}