
nav {
    background-color: #364968;
    font-family: Arial, Helvetica, sans-serif;
    & a {
        color: white;
        text-decoration: none;
    }

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .nav_con {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & ul {
            display: flex;
            list-style: none;
            
            & li {
                margin: 0 35px;
            }
        }

        & .button {
            width: 80px;
            height: 30px;
            background-color: #e09664;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: 0.3s;
            cursor: pointer;
        }

    }

}