.testi_con {
    height: 500px;
    background-color: white;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;

    & .testi_title {
        margin-top: 55px;
        font-size: 32px;
        font-weight: bold;
    }

    & .testi_list {
        display: flex;
        justify-content: center;
        margin-top: 80px;


        & .testi_items {
            width: 300px;
            margin: 0 30px;


            & img {
                width: 60px;
                height: 60px;
                object-fit: cover ;
                border-radius: 100%;
                margin: 20px 0;
            }

            & h4 {
                font-size: 14px;
                font-weight: bold;
            }

            & .bio {
                font-size: 12px;
                color: #757575;
            }
        }
    }
}